[control_plane]
%{ for name, ip in control_plane ~}
${name} ansible_host=${ip}
%{ endfor ~}

[workers]
%{ for name, ip in workers ~}
${name} ansible_host=${ip}
%{ endfor ~}

[all:vars]
ansible_user=${ansible_user}
ansible_ssh_private_key_file=${ansible_private_key_file}
